<div class="background">Save any kind of movies</div>

<h1>My lists</h1>


<div class="cards">

  <% @lists.each do |list| %>

    <div class="card wrapper">
        <h2><%= list.name %></h2>
        <button class="my-button"><%= link_to "Show this list", list %></button>
    </div>
  <% end %>

</div>

<button class="my-button"><%= link_to "New list", new_list_path %></button>
