.my-button {
  border: none;
  padding: 10px 20px;
  margin: 10px;
  background-color: $fifth;
  border-radius: 20px;
  a {
    text-decoration:none;
    color: white;
  }

  :hover {
    color: white;
  }
}
.navbar-brand {
  padding: 10px;
}
